<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Test Layout</title>
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" href="../css/style.css" />
<!-- Other javascript, css source files -->
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<!-- Other javascript, css source files -->
</head>
<body>
	<header>
		<h2>My Web</h2>
	</header>
	<section>
		<nav>
			<ul>
				<li><a href="/layout/home">Home</a></li>
				<li><a href="/layout/product">Product</a></li>
				<li><a href="/layout/contact">Contact</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	<article layout:fragment="content">
		<h2>TRANG CHỦ</h2>
		<p>Đây là trang chủ của tôi</p>
	</article>
	</section>
	<footer>
		<p>Footer</p>
		<p>Copy right by namnv</p>
	</footer>
</body>
</html>